body {
display: grid;
width: 100vw;

}

nav {
display: grid;    
width: 100vw;
grid-template-columns: repeat(4, 1fr);

}

img{
    height: 10%;
}

a {
    font-size: 25px;
    color: black;
    text-decoration: none;
    
}
