body {
    margin: 0;
}
.container{
    background-color: yellowgreen;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10,10vw);
    grid-template-rows: repeat(10, 10vh);

    grid-template-areas: 
    "home home home home home home link-items link-items link-items link-items";
}
nav {
    grid-area: navbar;
    background-color: #ffffff;
    align-items: center;
    justify-items:flex-start;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.link_items {
    grid-area: link-items;
    border-right: 2px solid black;
}

.home {
    grid-area: home;
    border-left: 2px solid black;
}

img {
    width: 50px;
    margin-left: 10px;
}

.link {
    background-color: black;
    
}

a.link {
    margin: 0;
    color: black;
    text-decoration: none;
    transition: 250ms;
}

